/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Oxygen-Bold', sans-serif !important;
	background:#00C0EF;
}
/*-- main --*/


@font-face {
  font-family: 'Oxygen-Bold';
  src: url('Oxygen-Bold.eot');
  src: url('Oxygen-Bold.eot?#iefix') format('embedded-opentype'),
       url('Oxygen-Bold.woff') format('woff'),
       url('Oxygen-Bold.ttf') format('truetype'),
       url('Oxygen-Bold.svg#Oxygen-Bold') format('svg');
}
.main{
	width: 30%;
    margin: 2em auto 0;
    padding: 2em 4em 5em;
    background: #ECF0F5;
	position:relative;
}
.main:before{
	position:absolute;
	top: -6%;
    left: 44%;
	background:url(../images/33.png) no-repeat 0px 0px;
	display:block;
	height:35px;
	width:68px;
	content:'';
}
.head {
    margin:0 0 3em;
}
.head h1{
	color:#3C8DBC;
	text-align:center;
	font-size:2em;
	margin:0;
}
.figure{
	text-align:center;
	margin:3em auto;
}
.figure img {
    width: 7%;
    margin: 0 auto;
    border: 5px solid #ECF0F5;
    border-radius: 100%;
}

.input_form input[type="text"],.input_form input[type="password"]{
	outline: none;
    border: none;
    background: #a0ecff;
    padding: 10px 10px 10px 60px;
    width: 85%;
    font-size: 1.1em;
    color: #3C8DBC;
    font-family: 'Oxygen-Bold', sans-serif;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.input_form input[type="text"]{
    background: url(../images/11.png) no-repeat 12px 10px #a0ecff;
}
.input_form input[type="password"]{
	background: url(../images/22.png) no-repeat 12px 10px #a0ecff;
}
.input_form input[type="password"]{
	margin:1.5em 0;
}
.input_form input[type="submit"]{
	outline:none;
	border:none;
	background:#3C8DBC;
	padding:10px;
	width:100%;
	color:#fff;
	font-size:1.5em;
	font-weight: 900;
	font-family: 'Oxygen-Bold', sans-serif;
	cursor:pointer;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.input_form input[type="submit"]:hover{
	background:#00C0EF;
}
.footer{
	text-align:center;
	padding:2em 0 0;
}
.footer p{
	font-size:1em;
	color:#EFE1C4;
	margin:0;
}
.footer p a{
	color:#fff;
}
.footer p a:hover{
	color:#EFE1C4;
}
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.input_form input[type="text"], .input_form input[type="password"] {
		width: 83%;
	}
}
@media (max-width:1280px){
	.main {
		width: 35%;
	}
}
@media (max-width: 1024px){
	.main {
		width: 45%;
	}
	.figure img {
		width: 13%;
	}
}
@media (max-width:768px){
	.figure img {
		width: 17%;
	}
	.main {
		width: 60%;
	}
}
@media (max-width:667px){
	.main {
		padding: 3em 3em 4em;
		width: 65%;
	}
}
@media (max-width:640px){
	.figure {
		margin: 3em auto;
	}
}
@media (max-width:600px){
	.head h1 {
		font-size: 1.8em;
	}
	.head {
		margin: 0 0 2em;
	}
	.main:before {
		left: 43%;
	}
	.input_form input[type="text"], .input_form input[type="password"] {
		width: 81%;
	}
}
@media (max-width:568px){
	.figure img {
		width: 20%;
		border: 3px solid #d5c395;
	}
	.main {
		width: 68%;
	}
	.input_form input[type="text"], .input_form input[type="password"] {
		width: 81%;
	}
}
@media (max-width:480px){
	.figure img {
		width: 25%;
	}
	.main {
		width: 80%;
		padding: 2em 2em 3em;
	}
	.footer p {
		width: 80%;
		margin: 0 auto;
		line-height: 1.8em;
	}
}
@media (max-width:414px){
	.head h1 {
		font-size: 1.5em;
	}
	.input_form input[type="text"], .input_form input[type="password"] {
		width: 79%;
	}
}
@media (max-width:384px){
	.figure {
		margin: 2em auto;
	}
	.figure img {
		width: 30%;
	}
	.main {
		width: 85%;
		padding: 1.5em 1.5em 3em;
		margin: 2.5em auto 0;
	}
	.input_form input[type="text"], .input_form input[type="password"] {
		width: 77%;
	}
	.input_form input[type="submit"] {
		font-size: 1.2em;
	}
}
@media (max-width:375px){
	.main:before {
		left: 41%;
	}
}
@media (max-width:320px){
	.main:before {
		background: url(../images/33.png) no-repeat 0px 0px;
		background-size: 100%;
		height: 25px;
		width: 45px;
		left: 42%;
	}
	.head h1 {
		font-size: 1.2em;
	}
	.head {
		margin: 0 0 1.5em;
	}
	.input_form input[type="text"], .input_form input[type="password"] {
		width: 73%;
		font-size: 14px;
	}
	.input_form input[type="text"] {
		background: url(../images/11.png) no-repeat 18px 8px #a0ecff;
	}
	.input_form input[type="password"] {
		background: url(../images/22.png) no-repeat 18px 8px #a0ecff;
	}
	.input_form input[type="submit"] {
		font-size: 1em;
	}
	.main {
		width: 84%;
		padding: 1.5em 1.5em 2em;
		margin: 2em auto 0;
	}
	.footer p {
		font-size: 13px;
	}
}